@{
    ViewData["Title"] = "Home Page";
    var mostpictures = ViewData["mostpicture"] as List<Property>;
    var first_mostpicture = ViewData["first_mostpicture"] as Property;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
