@{
    ViewData["Title"] = "Home Page";
}





<!-- ======= Houses with beauty Backyards ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Houses with beautiful Backyards</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">
                <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                    <div style="position:relative;">
                        <img src="~/img/new/vv.png" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw" data-aos="fade-in">
                        <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">Popular choice</span>
                    </div>
                    <h6>Shabby Town</h6>
                    <p>Gunung Batu, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/new/yy.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>Anganna</h6>
                    <p>Bogor, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-left" data-aos-delay="100">
                    <img src="~/img/new/roo.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>Seattle Rain</h6>
                    <p>Jakarta, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/new/aa.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw" data-aos="fade-in">
                    <h6>Wooden Pit</h6>
                    <p>Wonosoba, Indonesia</p>
                </div>

            </div>


        </div>

    </div>
</section><!-- End Houses with beauty Backyards -->
<!-- ======= About Section ======= -->
<section id="about" class="about" style="margin-top:20vh">
    <div class="container">


        <div class="row">

            <div class="col-xl-6 col-lg-4 pt-5 pt-lg-0" style=" padding-right:4vw">
                <h5 data-aos="fade-up" style="color:darkblue;font-weight:400">About The Place</h5>
                <p data-aos="fade-up">
                    <small>
                        Minimal techno is a minimalist subgenre of techno music. It is characterized by a stripped-down
                        aesthetic that exploits the use of repetition and understated development. Minimal techno is thought
                        to have been originally developed in the early
                        1990s by Detroit-based producers Robert Hood and Daniel Bell.
                    </small>
                </p>
                <p>
                    <small>
                        Such trends saw the demise of the soul-infused techno that typified the original Detroit sound.
                        Robert Hood has noted that he and Daniel Bell both realized something was missing from techno in the post-rave era.
                        Such trends saw the demise of the soul-infused techno that typified the original Detroit sound. Robert Hood has
                        noted that he and Daniel Bell both realized something was missing from techno in the post-rave era.
                    </small>
                </p>


                <div class="icon-box">


                    <div style="display:flex;justify-content:space-between;">

                        <div>
                            <span>
                                <img src="~/img/new/firsta.png" class="img-fluid" alt="travel" style="margin-right:4vw"><br />
                                <small><b>5</b> Bedroom</small>
                            </span>

                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/new/seconda.png" class="img-fluid" alt="treasures"><br />
                                <small><b>1</b> living room</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/new/thirda.png" class="img-fluid" alt="location"><br />
                                <small><b>3</b> bathroom</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/new/dining.png" class="img-fluid" alt="location"><br />
                                <small><b>1</b> dining room</small>
                            </span>
                        </div>

                    </div>



                    <div style="display:flex;justify-content:space-between;margin-top:3vw">

                        <div>
                            <span>
                                <img src="~/img/new/wifi.png" class="img-fluid" alt="travel" style="margin-right:4vw"><br />
                                <small><b>10</b> mbp/s</small>
                            </span>

                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/new/ac.png" class="img-fluid" alt="treasures"><br />
                                <small><b>7</b> units ready</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/new/frige.png" class="img-fluid" alt="location"><br />
                                <small><b>2</b> Refrigerators</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/new/tv.png" class="img-fluid" alt="location"><br />
                                <small><b>4</b> Televisions</small>
                            </span>
                        </div>

                    </div>





                </div>



            </div>

            <div class="col-xl-6 col-lg-6" data-aos="fade-right" style="padding-left:4vw;border:1px solid darkgray;max-height:80vh;padding-top:13vh">
                <h6><b>Start booking</b></h6>
                <h3><span style="color:aqua">$280</span> <span style="color:lightgray">per night</span></h3>
                <h6>How long do you want to stay ?</h6>

                <div class="input-wrapper">
                    <span class="minus">-</span>
                    <input type="text" id="num-nights" value="1 night" readonly>
                    <span class="plus">+</span>
                </div>

            </div>

        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Hotels with large living rooms ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Hotels with large living rooms</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">


                <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/new/ft.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>Green Park</h6>
                    <p>Tangarang, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-left" data-aos-delay="100">
                    <img src="~/img/new/wq.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>Podo Wae</h6>
                    <p>Padiun, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/new/po.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>Silver Rain</h6>
                    <p>Bandung, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                    <div style="position:relative;">
                        <img src="~/img/new/jj.png" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                        <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">Popular choice</span>
                    </div>
                    <h6>Cashville</h6>
                    <p>Kemang, Indonesia</p>
                </div>

            </div>


        </div>

    </div>
</section><!-- Hotels with large living rooms -->
<!-- =======  Apartments with Kitchen set ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Apartments with Kitchen set</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">

                <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/new/ds.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>PS Wood</h6>
                    <p>Depok, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-left" data-aos-delay="100">
                    <img src="~/img/new/dc.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>One Five</h6>
                    <p>Jakarta, Indonesia</p>
                </div>


                <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                    <div style="position:relative;">
                        <img src="~/img/new/er.png" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                        <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">Popular choice</span>
                    </div>
                    <h6>Minimal </h6>
                    <p>Bogor, Indonesia</p>
                </div>


                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/img/new/re.png" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                    <h6>Stays Home</h6>
                    <p>Wonosoba, Indonesia</p>
                </div>


            </div>


        </div>

    </div>
</section><!-- Apartments with Kitchen set -->




<section id="about" class="about" style="margin-top:20vh">
    <div class="container">


        <div class="row">


            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="~/img/new/lastfoto.png" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>


            <div class="col-xl-6 col-lg-2 pt-5 pt-lg-0">

                <h5 data-aos="fade-up" style="color:darkblue;">Happy Family</h5>
                <img src="~/img/new/stars.png" class="img-fluid" alt="" width="inherit" height="inherit" data-aos="fade-in">

                <h3 data-aos="fade-up" style="color:darkblue;font-weight:400">What a great trip with my family. Would love to do this over again!</h3>
                <p>Anggar, Product Manager</p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Read their story</button>
                </p>



            </div>



        </div>

    </div>
</section><!-- End About Section -->
